{
  "bracketSpacing": true,
  "singleQuote": true,
  "overrides": [
    {
      "files": ["*-routing.module.ts"],
      "options": {
        "printWidth": 160
      }
    },
    {
      "files": ["*.scss"],
      "options": {
        "singleQuote": false
      }
    },
    {
      "files": "*.xml",
      "options": {
        "parser": "xml"
      }
    }
  ]
}
