<app-wrapper customClass="qu-flex qu-items-center">
  <section class="qu-z-10">
    <b class="qu-block qu-text-white qu-font-bold qu-uppercase">Learning</b>
    <span
      class="qu-block qu-font-impact qu-text-white qu-uppercase qu-text-7xl xs:qu-text-8xl md:qu-text-9xl -qu-ml-1 qu-my-5"
      >English</span
    >
    <span class="qu-block qu-text-white qu-mb-5"
      >Discover your level of English with our quick, free online quiz</span
    >
    <app-button (clickEvent)="redirectToQuiz()">Launch Quiz</app-button>
  </section>

  <div
    class="qu-h-60 lg:qu-h-96 qu-w-60 lg:qu-w-96 qu-absolute qu-bg-cactus-dark qu-bottom-0 lg:qu-bottom-40 qu-right-0 lg:qu-right-20 qu-rounded-tl-xl qu-rounded-none lg:qu-rounded-2xl qu-ease-in-out qu-duration-500"
  ></div>
  <div
    class="qu-h-56 qu-w-32 lg:qu-w-56 qu-absolute qu-bg-cactus-medium qu-bottom-40 lg:qu-bottom-96 qu-right-0 lg:qu-right-28 qu-rounded-l-xl qu-rounded-none lg:qu-rounded-2xl qu-ease-in-out qu-duration-500"
  ></div>
  <div
    class="qu-h-28 lg:qu-h-72 qu-w-32 qu-absolute qu-bg-cactus-light qu-bottom-0 lg:qu-bottom-20 qu-right-40 lg:qu-right-96 qu-rounded-t-xl qu-rounded-b-none lg:qu-rounded-2xl qu-ease-in-out qu-duration-500"
  ></div>
</app-wrapper>
