<app-wrapper
  customClass="qu-flex qu-flex-col qu-items-center qu-justify-center"
>
  <h2
    class="qu-text-4xl qu-text-white qu-font-impact qu-uppercase qu-tracking-wider qu-border-b-2 qu-text-center qu-z-10"
    #anchorEl
  >
    Learning English
  </h2>
  <app-question-card
    [question]="activeQuestion$ | async"
    [totalItem]="questionsCount$ | async"
    [currentCount]="currentCount$ | async"
    (updateAnswersListEvent)="updateAnswersList($event)"
  ></app-question-card>

  <div
    class="qu-bg-cactus-light qu-h-32 qu-w-32 md:qu-h-64 md:qu-w-64 qu-rounded-full qu-absolute qu-top-48 lg:qu-top-72 qu-left-2 qu-ease-in-out qu-duration-500"
  ></div>
  <div
    class="qu-bg-cactus-dark qu-h-64 qu-w-64 md:qu-h-96 md:qu-w-96 qu-rounded-l-full qu-rounded-full qu-absolute qu-bottom-2 qu-right-2 qu-ease-in-out qu-duration-500"
  ></div>
</app-wrapper>
