<section
  class="qu-w-full qu-bg-white/50 qu-rounded-3xl qu-border-none qu-shadow-xl qu-px-5 qu-py-14 sm:qu-px-7 md:qu-px-14 md:qu-py-20 lg:qu-p-28 qu-text-center qu-z-20 qu-relative"
  *ngIf="question"
>
  <div
    class="qu-relative qu-bg-white qu-px-10 qu-pb-10 qu-pt-14 qu-rounded-md qu-text-center qu-mb-4 qu-border-cactus-medium qu-border-2"
  >
    <div class="qu-absolute -qu-top-4 qu-left-0 qu-w-full qu-text-center">
      <span
        class="qu-text-base sm:qu-text-lg qu-bg-cactus-dark qu-text-white qu-p-5 qu-rounded-full qu-font-bold"
        >Question {{ currentCount }} of {{ totalItem }}</span
      >
    </div>
    {{ question.text }}
  </div>
  <div class="qu-grid qu-grid-cols-1 md:qu-grid-cols-2 qu-gap-4 qu-mb-10">
    <button
      class="qu-rounded-md qu-p-5 qu-ease-in-out qu-duration-100"
      [ngClass]="{
        'qu-outline qu-outline-offset-2 qu-outline-cactus-dark qu-bg-cactus-dark qu-text-white qu-font-bold':
          option.key === answerKey,
        'qu-border-cactus-medium qu-border-2 qu-bg-white hover:qu-bg-white/50':
          option.key !== answerKey
      }"
      (click)="selectAnswer(option.key)"
      *ngFor="let option of question.options; let x = index"
    >
      {{ x | numberToAlphabet }}. {{ option.text }}
    </button>
  </div>

  <button
    class="qu-group qu-text-white qu-font-semibold qu-border-cactus-yellow qu-border-2 qu-rounded-full qu-py-4 qu-pl-4 xs:qu-pl-7 qu-pr-16 xs:qu-pr-24 md:qu-pr-28 qu-relative qu-bg-cactus-dark/50 hover:qu-bg-cactus-dark/75 qu-ease-in-out qu-duration-300"
    [disabled]="answerKey === 0"
    (click)="updateAnswersList()"
  >
    {{ currentCount === totalItem ? 'See Result' : 'Next Question' }}
    <span
      class="qu-bg-cactus-yellow qu-h-16 qu-w-16 qu-absolute -qu-top-1 -qu-right-1 qu-rounded-full qu-flex qu-justify-center qu-items-center"
    >
      <img
        class="qu-h-5 qu-w-5 qu-inline-block qu-align-middle qu-ml-0 group-hover:qu-ml-2 qu-ease-in-out qu-duration-300"
        src="assets/images/arrow-right.svg"
        height="20"
        width="20"
      />
    </span>
  </button>
</section>
